h1{
    text-align: center;
    color: #5F0519;
    border: 3px solid #580535;
    padding: 30px;
    background-color: #FFD5DE;
    max-width: 35%;
    margin:60px auto;
}
body{
    background-color: #FFB8CA;
}